<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="appContext" providerName="System.Sql.Client" connectionString="C:\Users\admin\source\repos\HomeWorkAdo02\HomeWorkAdo02\Database.mdf" />
  <add name="AppContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=HomeWorkAdo02.AppContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>